<% layout('../index') %>
<div class="border-head" style="">
    <h2><i class="fa fa-angle-right"></i><%= title %>
        <% if(mode == 'student') {%>
        <button class="logout" onclick="location.href='/student/atdTimeEnd'">출석종료</button>
        <% } %>
    </h2>

</div>
<div style="background: #fff; box-shadow: 1px 1px 3px 0 #A4AABA;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th> No</th>
            <th> 제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <%
        var i = 1;
                rows.forEach(function(notice){
        %>
        <% if (mode == 'admin') { %>
        <tr onclick="location.href='/notice/<%= notice.nid %>/<%= notice.writer %>'" style="cursor: pointer;">
            <% } else if (mode == 'student') { %>
        <tr onclick="location.href='/student/notice/<%= notice.nid %>/<%= notice.writer %>'" style="cursor: pointer;">
            <% } else { %>
        <tr onclick="location.href='/notice/<%= notice.nid %>/<%= notice.writer %>'" style="cursor: pointer;">
            <% } %>
            <td> <%= i++ %></td>
            <td> <%= notice.title %></td>
            <td><%= notice.writer %></td>
            <td><%= formatDateTimes(notice.reg_date) %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>