<% layout('../index') %>
<div class="border-head" style="">
    <h2>
        <% title %>
    </h2>
</div>
<div style="background: #fff; box-shadow: 1px 1px 3px 0 #A4AABA;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th> 학번</th>
            <th>스케줄시작날짜 - 스케줄종료날짜</th>
            <th>시작시간 - 종료시간</th>
            <th>사유</th>
            <th>승인여부</th>
        </tr>
        </thead>
        <tbody>

        <%
        var i = 1;
                rows.forEach(function(schedule){
        %>
        <tr style="cursor: pointer;">
            <td> <%= schedule.s_num %></td>
            <td><%= formatDates(schedule.psn_sche_start_date) %> - <%= formatDates(schedule.psn_sche_end_date) %></td>
            <td><%= schedule.psn_sche_start_time %> - <%= schedule.psn_sche_end_time %></td>
            <td><%= schedule.rq_rsn %></td>
            <td>
                <%= schedule.accept_op == 'A' ? '승인' : '거절' %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>